<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- user JNDI to get the settings (ie. driver, URL, username, password)
        -->
        <property name="connection.datasource">java:comp/env/jdbc/JiraDS</property>
        
        
        <!-- HSQL
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:file:/tmp/schedule-db</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>


        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        -->

        <!-- MySQL
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://10.0.2.16:8319/jiradb?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF8</property>
        <property name="connection.username">jira</property>
        <property name="connection.password">jirapass</property>
        
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/test_forecast_jira?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF8</property>
        <property name="connection.username">jira</property>
        <property name="connection.password">jirapass</property>
        -->


        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>


        <!-- Oracle
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
        -->



        <!-- log SQL statements; just like setting org.hibernate.SQL log level to debug
        <property name="show_sql">true</property>
         -->


        <!-- Mapping files -->
        <mapping resource="com/trentlarson/forecast/core/dao/TeamHours.hbm.xml"/>
        <mapping resource="com/trentlarson/forecast/core/dao/Team.hbm.xml"/>

    </session-factory>

</hibernate-configuration>
